{% extends '::base.html.twig' %}
{% block title %}Bdthèque | Détails de la BD{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset("css/catalogue.css") }}">
{% endblock %}
{% block body %}
{% include "::header.html.twig" %}    
<div class="affichageBddetail">
        <div class="bd1">
            <img class="imagedetail"src="{{ asset('cover/115618_c.jpg') }}"alt="{{ book.title }}">
        </div>
        <div class="detailBddetail">
            <h3>{{book.title}}</h3>
            <div class="identity">
              <p class="auteur">Auteur : {{ book.illustrator.lastName }} {{ book.illustrator.firstName }}</p>
                <p class="coloriste">Coloriste : </p>
                <p class="scenariste">Scénariste : {{ book.scenarist.lastName }} {{ book.scenarist.firstName }}</p>
            </div>
            <div class="serie"><h4>Série: </h4>
            	<p><strong>Style:</strong>{{book.serie.style}}</p>
            	{% if book.serie.comment|length != 0 %}
                <div id="descriptionBd">
                    <p id="syno">Synopsis : </p>
                    <p id="descr">{{ book.serie.comment }}</p>
                </div>{% endif %}Language:</strong> En {% if book.serie.language == "fr" %}{{ "Français" }}{% else %}{{ "Anglais"}}{% endif %}</p>
            </div>
            <div class="Bd"><h4>Bd: </h4>
            	<p><strong>Title: </strong>{{book.title}}</p>
            	<p><strong>publieur:</strong>{{book.publisher}}</p>
            	<p><strong>Isbn:</strong> {{book.isbn}}</p>
            	<p><strong>Pages:</strong>{{book.pages}}</p>
            </div>
        </div>
       	<div class="stockdetail">
            {% if book.stock == 0 %}
                <p class="indisponible">Indisponible...</p>
            {% else %}
            <p class="disponible"><span class="bookStock"> Stock: {{ book.stock }} dispos !</span></p>
           
       
            <form class="ajouterdetail">
                 <a href="{{ path('bdloc_app_cart_addbook', {book_id: book.id}) }}" title="Ajouter au panier"><input type="submit" class="buttonadd" value="Ajouter au panier !"></a>
            </form>
            {% endif %}
            <a class="retour" href="{{ path('bdloc_app_default_index')}}">Retour à la liste</a>
         </div>
        
 </div>

{% endblock %}